body {
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
}

section[role=main] {
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(255, 255, 255, 0.5);
}

section[role=main] > * {
    margin: 15px 0;
    padding: 0 15px;
}

h1, p {
    margin-bottom: 15px;
}

p {
    text-align: center;
}

form td:not(:last-child) {
    padding-right: 15px;
    padding-bottom: 15px;
}

form input {
    width: 15rem;
    height: 2.5rem;
    padding: 5px;
}

input[type=submit] {
    margin-top: 15px;
    background: limegreen;
}

.brand {
    font-style: italic;
    font-weight: normal;
    font-size: 1.8rem;
}

.brand-bold {
    font-weight: bold;
    font-size: 1.8rem;
}

.ready-download-container {
    max-width: 95%;
    margin-top: 50px;
    padding: 15px;
    border: 2px dashed black;
    border-radius: 3px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ready-download-container > * {
    margin: 5px 0;
    text-align: center;
}

#spinner {
    display: none;
    max-width: 70px;
    max-height: 70px;
}

img#thumbnail {
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    form td {
        display: block;
    }

    form td:not(:last-child) {
        padding: 0 15px 0 0;
    }

    tr {
        display: block;
        margin-bottom: 15px;
    }
}