<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube DL</title>
    
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/index.css">

</head>
<body>
    <section role="main" class="flex-center">
        <h1 class="brand">かなでTUBE</h1>

        <p>
            スタート時刻はデフォルトで00:00:00。
            <br>
            エンド時刻はデフォルトで動画の最後まで。
            <br>
            <strong>
                動画を右クリックして、「動画のURLをコピー」を選択して、リンクを使ってください。
            </strong>
        </p>
        
        <form>
            <table>
                <thead></thead>
                <tbody>
                    <tr>
                        <td>リンク</td>
                        <td><input type="text" name="link" placeholder="https://youtu.be/tQJ..."></td>
                    </tr>
                    <tr>
                        <td>スタート時刻</td>
                        <td><input type="text" name="start_timestamp" placeholder="00:00:00"></td>
                    </tr>
                    <tr>
                        <td>エンド時刻</td>
                        <td><input type="text" name="end_timestamp"></td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="ダウンロード開始" class="right">
        </form>

        <img src="static/img/spinner.gif" id="spinner">

        <div class="ready-download-container">
            <h2 id="download-title"></h2>
            <a id="download-link">
                <button class="btn">
                    ダウンロード
                </button>
            </a>
        </div>
    </section>

    <script src="static/js/sweetalert2@11.js"></script>
    <script src="static/js/index.js"></script>
</body>
</html>