/* Element specific */
#main-container {
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
}

/* Common classes */
.flex-center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.margin-vertical > * {
    margin: 15px 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    overflow: auto;
}

.btn {
    padding: 5px 15px;
    border-radius: 3px;
    font-weight: bold;
}

/* Responsive styling */
@media only screen and (max-width: 768px) {
    #language-dropdown {
        margin: 0 auto;
        text-align: center;
    }
}