.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right {
    float: right;
}

.btn {
    padding: 5px 15px;
    border-radius: 3px;
    font-weight: bold;
}